/* 共通のスタイル */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.common-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.common-header nav {
  display: flex;
  justify-content: right;
  padding-right: 10px;
}

.common-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.common-header ul li {
  display: inline;
  margin-right: 15px;
}

.common-header ul li a {
  color: white;
  text-decoration: none;
}

/* トップページ専用のスタイル */

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: -100px 0;
}

.home-logo {
  margin: -50px 20px 0px 0px;
}

.home-logo img {
  height: 320px; 
  width: auto;
}

.home-logo-e {
  margin: -120px 10px 0px 0px;
}

.home-logo-e img {
  height: 420px; 
  width: auto; 
}

.home-search-form-container {
  display: flex;
  align-items: center;
}

.home-search-form {
  display: flex;
  align-items: center;
}

.home-search-form input {
  padding: 5px; 
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.home-search-form select {
  padding: 5px; 
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.search-btn {
  padding: 5px 10px;
  margin-left: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1; 
}

.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  display: none;
}

.slider .prev-button,
.slider .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider .prev-button {
  left: 10px;
}

.slider .next-button {
  right: 10px;
}

@media (max-width: 768px) {
  .home-header {
    flex-direction: column;
  }

  .home-logo {
    margin-bottom: 10px;
  }

  .home-search-form-container {
    width: 100%;
    justify-content: center;
  }

  .home-search-form {
    width: 100%;
  }
}

.home-description {
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}


/* 詳細ページ専用のスタイル */
.show-container {
  margin-top: 60px;
  padding: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.show-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.show-image {
  flex: 1;
  margin-right: 20px;
}

.show-details {
  flex: 1;
}

.show-details h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.show-details p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.show-links {
  margin-top: 50px;
}

.show-links .link-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.show-links .link-text {
  min-width: 160px; 
  text-align: center;
}

.show-links .btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  min-width: 200px; 
  text-align: center;
}

.btn-tabelog {
  background-color: #FF9900;
}

.btn-instagram {
  background-color: #C13584;
}

.btn-cookpad {
  background-color: #FF5722;
}

.show-bottom {
  margin-top: 20px;
}

.show-bottom h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.show-bottom p {
  font-size: 1em;
}

/* 県ごとの食品一覧ページのスタイル */

.filter-container {
  margin-top: 70px;
  text-align: center;
}

.filter-container label {
  font-size: 18px; 
  margin-right: 10px; 
}

.filter-container select {
  font-size: 18px; 
  padding: 5px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}

.filter-container input[type="submit"] {
  font-size: 18px; 
  padding: 5px 10px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  background-color: #007bff; 
  color: #fff; 
  cursor: pointer; 
}

.filter-container input[type="submit"]:hover {
  background-color: #0056b3; 
}

.food-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; 
}

.prefecture-container h2{
  margin-left: 40px;
}


.food-item {
  flex: 1 0 30%; 
  max-width: 30%; 
  box-sizing: border-box; 
  margin-bottom: 20px; 
  text-align: center;
}

.food-item a {
  display: block;
  text-decoration: none;
  color: #007bff;
  margin-bottom: 10px;
}

.food-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .food-item {
    flex: 1 0 45%; 
    max-width: 45%;
  }
}

@media (max-width: 480px) {
  .food-item {
    flex: 1 0 90%; 
    max-width: 90%;
  }
}

/* 検索結果のスタイリング */
.search-container {
  text-align: center; 
}

.search-search-form {
  display: flex;
  flex-direction: row;
  align-items: center; 
  justify-content: center; 
  margin-top: 80px; 
}

.search-search-input,
.search-search-btn {
  display: flex;
  align-items: center;
}

.search-search-input {
  padding: 8px;
  margin: 0 3px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; 
  margin-bottom: 8px; 
}

.search-search-btn {
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: 8px; 
  height: 40px;
}

.search-search-btn:hover {
  background-color: white;
}

/* 検索結果のスタイリング */
.search-contents {
  margin-top: 20px;
}

.search-contents ul {
  list-style: none; 
  padding: 0;
  text-align: center;
}

.search-contents li {
  padding: 10px;
}

/* 画像のスタイリング */
.search-food-image {
  width: 100%;
  max-width: 300px; 
  height: auto;
  display: block;
  margin: 0 auto; 
}

/* グリッドレイアウト */
.search-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-food-item {
  flex: 1 0 30%; 
  max-width: 30%; 
  box-sizing: border-box; 
  margin-bottom: 20px; 
  text-align: center;
}

.search-food-item a {
  display: block;
  text-decoration: none;
  color: #007bff;
  margin-bottom: 10px;
}

.search-food-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .search-food-item {
    flex: 1 0 45%; 
    max-width: 45%;
  }
}

@media (max-width: 480px) {
  .search-food-item {
    flex: 1 0 90%; 
    max-width: 90%;
  }
}
