/* 共通のスタイル */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.common-header {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

.common-header nav {
  display: flex;
  justify-content: right;
  padding-right: 10px;
}

.common-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.common-header ul li {
  display: inline;
  margin-right: 15px;
}

.common-header ul li a {
  color: white;
  text-decoration: none;
}

/* トップページ専用のスタイル */

.home-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: -100px 0;
}

.home-logo {
  margin: -50px 20px 0px 0px;
}

.home-logo img {
  height: 320px; /* ロゴの高さを調整 */
  width: auto; /* アスペクト比を保ったまま幅を自動調整 */
}

.home-search-form-container {
  display: flex;
  align-items: center;
  /* margin-left: auto; フォームを右寄せにする */
  /* margin-top: -200px;
  transform: scale(1); サイズを大きく */
}

.home-search-form {
  display: flex;
  align-items: center;
}

.home-search-form input {
  padding: 5px; /* 入力フィールドのパディングを増やす */
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1; /* 背景画像を最背面に */
}

.slider {
  position: relative;
  width: 100%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  overflow: hidden;
}

.slider img {
  width: 100%;
  display: none;
}

.slider .prev-button,
.slider .next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.slider .prev-button {
  left: 10px;
}

.slider .next-button {
  right: 10px;
}

@media (max-width: 768px) {
  .home-header {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .home-logo {
    margin-bottom: 10px;
  }

  .home-search-form-container {
    width: 100%;
    justify-content: center;
  }

  .home-search-form {
    width: 100%;
  }
}

.home-description {
  padding: 50px 20px;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
}


/* 詳細ページ専用のスタイル */
.show-container {
  margin-top: 60px; /* ヘッダーの下に内容を表示 */
  padding: 20px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.show-top {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.show-image {
  flex: 1;
  margin-right: 20px;
}

.show-details {
  flex: 1;
}

.show-details h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.show-details p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.show-links {
  margin-top: 50px;
}

.show-links .link-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.show-links .link-text {
  min-width: 160px; /* 固定幅を指定 */
  text-align: center;
  /* font-weight: bold; */
}

.show-links .btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  min-width: 200px; /* ボタンの最小幅を統一 */
  text-align: center;
}

.btn-tabelog {
  background-color: #FF9900;
}

.btn-instagram {
  background-color: #C13584;
}

.btn-cookpad {
  background-color: #FF5722;
}

.show-bottom {
  margin-top: 20px;
}

.show-bottom h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.show-bottom p {
  font-size: 1em;
}

/* 県ごとの食品一覧ページのスタイル */

.filter-container {
  margin-top: 70px;
  text-align: center;
}

.filter-container label {
  font-size: 18px; /* ラベルのフォントサイズ */
  margin-right: 10px; /* ラベルとプルダウンの間隔 */
}

.filter-container select {
  font-size: 18px; /* プルダウンのフォントサイズ */
  padding: 5px; /* プルダウンの内側の余白 */
  border: 1px solid #ccc; /* プルダウンのボーダー */
  border-radius: 4px; /* プルダウンの角を丸くする */
}

.filter-container input[type="submit"] {
  font-size: 18px; /* ボタンのフォントサイズ */
  padding: 5px 10px; /* ボタンの内側の余白 */
  border: 1px solid #ccc; /* ボタンのボーダー */
  border-radius: 4px; /* ボタンの角を丸くする */
  background-color: #007bff; /* ボタンの背景色 */
  color: #fff; /* ボタンの文字色 */
  cursor: pointer; /* ボタンにカーソルを合わせたときのスタイル */
}

.filter-container input[type="submit"]:hover {
  background-color: #0056b3; /* ホバー時の背景色 */
}

.food-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.food-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* アイテムを中央に寄せる */
}

.prefecture-container h2{
  margin-left: 40px;
}


.food-item {
  flex: 1 0 30%; /* 画像を3つ並べる */
  max-width: 30%; /* 各アイテムの最大幅 */
  box-sizing: border-box; /* パディングとボーダーを含む幅を設定 */
  margin-bottom: 20px; /* アイテム間の間隔 */
  text-align: center;
}

.food-item a {
  display: block;
  text-decoration: none;
  color: #007bff;
  margin-bottom: 10px;
}

.food-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .food-item {
    flex: 1 0 45%; /* スクリーンが小さくなったときに2列にする */
    max-width: 45%;
  }
}

@media (max-width: 480px) {
  .food-item {
    flex: 1 0 90%; /* スクリーンが非常に小さくなったときに1列にする */
    max-width: 90%;
  }
}

/* 検索結果のスタイリング */
.search-container {
  text-align: center; /* コンテナ内の内容を中央揃え */
}

.search-search-form {
  display: flex;
  flex-direction: row;
  align-items: center; /* 水平中央揃え */
  justify-content: center; /* 水平方向の中央揃え */
  margin-top: 80px; /* 上部マージン */
}

.search-search-input,
.search-search-btn {
  /* flexのアイテムの縦位置を揃える */
  display: flex;
  align-items: center;
}

.search-search-input {
  padding: 8px;
  margin: 0 3px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px; /* 検索窓の幅 */
  margin-bottom: 8px; /* 縦の間隔 */
}

.search-search-btn {
  padding: 8px 16px;
  font-size: 16px;
  color: black;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-left: 8px; /* 横の間隔 */
  /* ボタンの高さを指定して、inputと高さを一致させる */
  height: 40px;
}

.search-search-btn:hover {
  background-color: white;
}

/* 検索結果のスタイリング */
.search-contents {
  margin-top: 20px;
}

.search-contents ul {
  list-style: none; /* デフォルトのリストスタイルを削除 */
  padding: 0;
  text-align: center;
}

.search-contents li {
  padding: 10px;
}

/* 画像のスタイリング */
.search-food-image {
  width: 100%;
  max-width: 300px; /* 画像の最大幅 */
  height: auto;
  display: block;
  margin: 0 auto; /* 画像を中央に配置 */
}

/* グリッドレイアウト */
.search-contents {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-food-item {
  flex: 1 0 30%; /* 画像を3つ並べる */
  max-width: 30%; /* 各アイテムの最大幅 */
  box-sizing: border-box; /* パディングとボーダーを含む幅を設定 */
  margin-bottom: 20px; /* アイテム間の間隔 */
  text-align: center;
}

.search-food-item a {
  display: block;
  text-decoration: none;
  color: #007bff;
  margin-bottom: 10px;
}

.search-food-item a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .search-food-item {
    flex: 1 0 45%; /* スクリーンが小さくなったときに2列にする */
    max-width: 45%;
  }
}

@media (max-width: 480px) {
  .search-food-item {
    flex: 1 0 90%; /* スクリーンが非常に小さくなったときに1列にする */
    max-width: 90%;
  }
}
